<html>
<body>
    <div class="login">
       <h1>Web page Test</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Choose</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">User</label>
            <select class="form-control" name="user_id" placeholder="Enter you ethnicity" required>
                <option class="placeholder" selected disabled value="">Select User ID</option>
                <option value="AG3D6O4STAQKAY2UVGEUV46KN35Q">
                    AG3D6O4STAQKAY2UVGEUV46KN35Q
                </option>
                <option value="AG3D6O4STAQKAY2UVGEUV46KN35Q">
                    AG3D6O4STAQKAY2UVGEUV46KN35Q
                </option>
                <option value="AHMY5CWJMMK5BJRBBSNLYT3ONILA">
                    AHMY5CWJMMK5BJRBBSNLYT3ONILA
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Product</label>
            <select class="form-control" name="product_id" placeholder="Enter you Product ID" required>
                <option class="placeholder" selected disabled value="">Select product ID</option>
                <option value="B07JW9H4J1">
                    B07JW9H4J1
                </option>
                <option value="B08CF4SCNP">
                    B08CF4SCNP
                </option>
            </select>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Give recommendation" required />
        </div>
    </form>
    <h2>
       The  prediction is {{results}}
    </h2>
   <body>
</html>