<html>
<body>
    <div class="login">
       <h1>Student Exam Performance Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Product</label>
            <select class="form-control" name="product_id" placeholder="Enter you Product ID" required>
                <option class="placeholder" selected disabled value="">Select product ID</option>
                <option value="product_1">
                    Male
                </option>
                <option value="product_2">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">User</label>
            <select class="form-control" name="user_id" placeholder="Enter you ethnicity" required>
                <option class="placeholder" selected disabled value="">Select User ID</option>
                <option value="User_1">
                    Group A
                </option>
                <option value="User_2">
                    Group B
                </option>
                <option value="User_3">
                    Group C
                </option>
            </select>
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>